h1.title {
  font-size: 28px;
  font-weight: 794 !important;
  display: table;
}

.blue-container {
  min-height: 200px;
  background-color: #e8f7f7;
}
.destination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 1rem;
}
.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  width: 100%;
}
.search-destination {
  display: inherit;
  flex-direction: row;
  align-items: center;
  margin-top: 1rem;
  padding: 0.3rem 0.5rem 0.3rem 0.5rem;
  width: 744px;
  height: 74px;
  background: #ffffff;
  border: 1px solid rgba(23, 159, 159, 0.1);
  box-shadow: 0px 3px 6px rgba(6, 39, 39, 0.2);
  border-radius: 37px;
}
.search-destination input,
.search-destination .react-datepicker-wrapper {
  display: inline-flex;
  border-right: 1px solid rgba(23, 159, 159, 0.1);
  border-radius: 0;
  margin: 0 0.2rem;
  padding-left: 0.3rem;
  font-size: 15px;
  font-weight: 500 !important;
  max-height: 60px;
  width: 12rem;
}
.search-destination .react-datepicker-wrapper {
  border-right: none !important;
}
.react-datepicker-wrapper input {
  border: none;
  background-color: transparent;
  width: 100%;
  height: 100%;
  font-size: 15px;
  font-weight: 500 !important;
}
.search-destination svg {
  color: #179f9f;
  font-size: 2rem;
  padding-left: 5px;
}

.react-datepicker-wrapper button {
  background-color: white !important;
}

.search-destination input:focus {
  outline: none !important;
}
.search-destination button.search-btn {
  border-radius: 2rem;
  margin: 0 0.2rem;
  background-color: #3b2f6b;
  color: white;
  width: 9rem;
  height: 3rem !important;
  min-height: 2.5rem !important;
  font-size: 14px;
  text-transform: capitalize;
}

.join-btn {
  border-radius: 2rem;
  margin: 0 0.2rem;
  background-color: #3b2f6b;
  color: white;
  width: 6rem;
  height: 2rem !important;
  min-height: 2.5rem !important;
  font-size: 14px;
  text-transform: capitalize;
}

.react-datepicker__tab-loop {
  position: absolute;
}
.road {
  flex-direction: row;
  justify-content: space-between;
  display: flex;
  
}
.road-driver {
  flex-direction: row;
  justify-content: space-between;
  display: flex;
  
}
.road-details {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.road-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-title-dashboardList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 25px;
  padding: 0 24px;
}

// .add-new {
//   display: flex;
//   width: 30%;
// }
// .add-new .btn-outline {
//   color: #9966fe;
//   text-transform: none;
//   font-weight: 500;
//   margin: auto;
//   display: flex;
//   transition: 1s;
// }
// .add-new .btn-outline:hover {
//   background-color: #ece3ff7e;
//   border-color: #9966fe;
//   transition: 0.8s;
// }
// .add-new .btn-outline:hover svg {
//   transform: rotate(180deg);
//   transition: 0.5s;
// }
// .add-new .btn-outline svg {
//   margin-right: 1.5rem;
//   font-size: 22px;
// }

@media (max-width: 768px) {
  h1.title {
    margin: auto;
  }
  .search-destination {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    padding: 1rem;
    width: 100%;
    height: auto;
    border-radius: 28px;
  }
  .search-destination input,
  .search-destination .react-datepicker-wrapper input {
    width: 100%;
    max-width: 100%;
    border-right: none;
    border-bottom: 1px solid #d9d9d9;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
  }
  .search-destination button {
    margin-top: 2rem !important;
    width: 100% !important;
  }
  .road-card,
  .container-title-dashboardList,
  .search-destination .react-datepicker-wrapper {
    width: 100% !important;
  }
}
@media (max-width: 380px) {
  .road-card p {
    font-size: 14px !important;
  }
  .road-card span {
    margin-right: 0.4rem !important;
  }
}
@media (min-width: 1536px) {
  .container {
    max-width: 1000px !important;
  }
}

/////////////////////////////////////////////////// ROAD LIST
.road-card {
  background: #ffffff;
  border: 1px solid rgba(23, 159, 159, 0.1);
  box-shadow: 0px 3px 6px rgba(6, 39, 39, 0.2);
  border-radius: 14px;
  width: 600px;
  margin-top: 2rem;
  transition: 0.3s;
  cursor: pointer;
}
.road-card:last-child {
  margin-bottom: 4rem;
}
.road-list p {
  font-weight: 794 !important;
  font-size: 22px;
}

.date label{
  font-weight: 794 !important;
  font-size: 16px;
  font-family: SF Compact Rounded;
  text-transform: capitalize;
}

.road-card:hover {
  box-shadow: 0px 12px 22px rgba(0, 0, 0, 0.16);
  transition: 0.5s;
}
.road-info {
  width: 100%;
  padding: 0.3rem 1.1rem;
}
.road-left-details {
  display: flex !important;
  flex-direction: column !important;
  padding-top: 1rem;
}
.steps-vertical .step {
  gap: 0.5rem;
  grid-template-columns: 19px 1fr;
  grid-template-rows: 54px;
  min-height: 4rem;
  justify-items: start;
}

li.step {
  min-height: 3rem !important;
}
li.step::after {
  background-color: #ffffff !important;
  width: 16px !important;
  height: 16px !important;
  border: 3px solid #179f9f;
}
li.step:last-of-type::after {
  background-color: #ffffff !important;
  width: 16px !important;
  height: 16px !important;
  border: 3px solid #179f9f;
}
li.step::before {
  background-color: #a2d9d9 !important;
  width: 2px !important;
}
li.step div {
  display: flex;
  flex-direction: row;
  align-items: center;
}
li.step div p {
  font-weight: 794 !important;
  font-size: 16px;
  font-family: SF Compact Rounded;
}
li.step div span {
  font-weight: 556 !important;
  font-size: 15px;
  color: #179f9f;
  margin-right: 1rem;
}
.road-left-details p {
  font-weight: 556 !important;
  font-size: 13px;
  color: #715bc8;
  margin-right: 1rem;
}

.seat {
  background-color: #f4eeff;
  display: flex;
  align-items: center;
  width: fit-content;
  padding: 5px 11px;
  border-radius: 20px;
  margin: 0.5rem 0 0.5rem 0.8rem;
}
.seat svg {
  color: #715bc8;
  font-size: 1.5rem;
  margin-right: 0.2rem;
}
.seat p {
  color: #715bc8;
  font-weight: 556;
  font-size: 13px;
}
.seat-driver {
  background-color: #ffe0d2;
  display: flex;
  align-items: center;
  width: fit-content;
  padding: 5px 11px;
  border-radius: 20px;
  margin: 0.5rem 0 0.5rem 0.8rem;
}
.seat-driver svg {
  color: #eb5a33;
  font-size: 1.5rem;
  margin-right: 0.2rem;
}
.seat-driver p {
  color: #eb5a33;
  font-weight: 556;
  font-size: 13px;
}

.driver-info {
  padding-left: 0px !important;
  width: 100%;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-direction: row;
  border-top: 2px solid #e8f5f5;
}
.driver {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-right: 1rem;
  line-height: initial;
}
.driver div {
  margin-left: 0.3rem;
}
.driver p {
  font-weight: 600 !important;
  text-transform: capitalize;
  font-size: 15px;
  margin: 0px;
}
.driver span {
  font-weight: 600 !important;
  color: #715bc8;
  text-align: right;
  font-size: 13px;
}
.driver svg {
  font-size: 3.5rem;
  color: #d9d9d9;
  min-width: 2rem;
}
.price {
  width: fit-content;
  display: flex;
  align-self: end;
  margin-right: 2rem;
  margin-top: 0.5rem;
  font-weight: 600 !important;
  font-size: 18px;
}

.demand-created {
  position: fixed;
  bottom: 1rem;
  left: 0;
  right: 0;
  margin: auto;
  width: 30%;
  padding: 1.4rem;
  color: #e8f5f5;
  background-color: #179f9f;
  font-size: 1.4rem;
  font-weight: 600;
  border-radius: 3rem;
  text-align: center;

  &--error {
    background-color: #eb5a33;
  }
}
