.recap-container{
    margin-top: -120px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    align-items: center;
    margin-bottom: 20px;
    padding: 24px;
}

.recap-title-card{
    border: 1px solid rgba(23, 159, 159, 0.1);
    box-shadow: 0px 3px 6px rgba(6, 39, 39, 0.2);
    border-radius: 14px;
    flex-direction: row-reverse;
    display: flex;
}

.recap-title-card h1{
    font-size: 21px;
    font-weight: 794 !important;
    color: #3B2E6A;
}


.blue-container-recap{
    min-height: 200px;
    background-color: #e8f7f7;
}

.recap-form-body p{
    text-transform: capitalize;
    color: #586170;
    font-size: 16px;
}
.recap-form-btn{
    border-top: 2px solid #e8f5f5;

}