.header-dropdown-list svg{
    font-size: 1.2rem;
}
.header-dropdown-list {
    font-weight: 500;
}
.header-dropdown-list-logout{
    font-weight: 500;
    color: #E80000;
}
.title-modal-dc{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.title-modal-dc svg{
    font-size: 1.5rem;
}
.dc-btn{
    text-transform: none;
    color: #fff;
    background-color: #E80000;
}