.doubleInputForm {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}

.w-70 {
  width: 65%;
}
.w-30 {
  width: 32%;
}

.registerImg {
  padding: 20px;
  display: flex;
  justify-content: flex-end;
  .pic {
    max-width: 100%;
  }
}
